#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}
body {
  background-image: url('./assets/img/wallpaper.jpg');
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.title {
  color: #00A884;
}

.select{
  width:250px;
    font-size:16px;
    padding:14px;
    border-radius:10px;
    margin: 8px;
}

.input {
    width:250;
    font-size:16px;
    padding:14px;
    border-radius:10px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.label {
  margin-top:1px
}

.button {
  background-color: #00A884;
}

.button:hover {
  color: white;
}

.error {
    background-color: #B7322C;
    color: #FFF;
    padding:15px;
    font-size:22px;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    text-align: center;
}